/* ============================================================ */
/*                          Blog Area                          */
/* ============================================================ */

#blog > span {
  float: left;
  font-size: 12px;
  letter-spacing: 1px;
}

#blog  a.read-more {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0;
  text-transform: capitalize;
}
