/* ============================================================ */
/*                           General                            */
/* ============================================================ */

.padding-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

h4 {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
}

/* ============================================================ */
/*                           Fonts                            */
/* ============================================================ */

.fa {
  font-size: 15px;
}
