/* ============================================================ */
/*                       Get Started Area                       */
/* ============================================================ */

#features .img-fluid {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}