/* ============================================================ */
/*                          Navbar Area                         */
/* ============================================================ */

.custom-navbar {
  background: #71c55d;
  color: #4e555b;
  transition: all 0.5s ease;
}
