/* ============================================================ */
/*                          Navbar Area                         */
/* ============================================================ */

#custom-navbar {
  background: #71c55d;
  border-color: #1b1e21;
  color: #4e555b;
  transition: all 0.5s ease;
}

#custom-navbar .navbar-brand {
  font-weight: bold;
}

#custom-navbar .nav-item > .nav-link:hover {
  color: #504747;
}
